*
!.gitignore
!Clasificador de imagenes.ipynb
!PruebaSoldadurasSpyder.py
!ClasificadorSoldaduras.ipynb
!ClasificadorSoldadurasPytorch.ipynb    
!README.md
!ClasificadorSoldadurasTipo2.ipynb    
!ClasificadorSoldadurasTipo3.ipynb
!ClasificadorSoldadurasTipo3_v2.ipynb
!Tensorboard.ipynb
